.package-card{
    width: 30%;
    max-width: 30%;
    padding-bottom: 5rem;
    cursor: pointer;
    .package-card-img{
        width: 100%;
        img{
            width: 100%;
            border-radius: 10px;
        }
    }
    .package-card-body{
        padding: 1rem 0 .5rem;
        
        P{
            word-wrap: break-word;
            overflow: hidden;
            max-height: 3.6em; /* (Number of lines you want visible) * (line-height) */
            line-height: 1.2em;
            height: 3.6em;
            min-width: 3.6em;
        }
    }
    .package-card-footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2{
            color: #00ff9f;
            display: flex;
            align-items: center;
        }
        h4{
            margin-top: 10px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
       
    }
}
@media screen and (max-width:1182px) {
    .package-card{
        width: 47% !important;
        max-width: 48%;
    }
    
}


@media screen and (max-width:612px) {
    .package-card{
        width: 95% !important;
        max-width: 95%;
        margin: 1rem auto;
        padding-bottom: 3rem;
    }
    
}