@tailwind base;
@tailwind components;
@tailwind utilities;



@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap');

.font-head{
    font-family: 'Montserrat', sans-serif !important;
}
.font-body{
    font-family: 'Roboto', sans-serif !important;

}


.preloader{
    display: flex;
    opacity: 1 !important;
    width: 100vw;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    gap: 30px;
    align-items: center;
}
.preloader img{
    width: 100px;
}
.crop-box-con{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;        padding: 1rem;
    position: absolute;
    background-color: white !important;

}
.loading-div{
    display: flex;
    width: 100%;
    height: 70vh;
    padding-top: 5rem;
    padding-bottom: 3rem;
    justify-content: center;
    align-items: center;
}
body {
    font-family: Roboto, Helvetica, Arial, sans-serif !important;
    background-color: white;
  }
nav{
    background-color: transparent !important;
}
.offerSlider .slick-list {
    padding: 0 20% 0;
}
@media only screen and (max-width: 1024px) {
    .offerSlider .slick-list {
        padding: 0 34% 0;
    }
  }
  
  @media only screen and (max-width: 640px) {
    .offerSlider .slick-list {
        padding: 0 20% 0;
    }
  }
input{outline: none;}

.bordercolour{
    border: 1px solid black;
}
.pic1{
    background-image: url('./Pages/Assets/homeCarousel/pic1.webp') !important;
    background-size: cover;
    background-repeat:no-repeat ;
    background-position: center;
}
.pic2{
    background-image: url('./Pages/Assets/homeCarousel/pic2.webp') !important;
    background-size: cover;
    background-repeat:no-repeat ;
    background-position: center;
}

.pic3{
    background-image: url('./Pages/Assets/homeCarousel/pic3.webp') !important;
    background-size: cover;
    background-repeat:no-repeat ;
    background-position: center;
}


.pic4{
    background-image: url('./Pages/Assets/homeCarousel/pic4.webp') !important;
    background-size: cover;
    background-repeat:no-repeat ;
    background-position: center;
}

.pic5{
    background-image: url('./Pages/Assets/homeCarousel/pic5.webp') !important;
    background-size: cover;
    background-repeat:no-repeat ;
    background-position: center;
}
.marginmtop{
    margin-top: -11rem;
}



  input{
      outline: none !important;
  }

.card-text{
    word-wrap: break-word !important;
    overflow: hidden !important;
    max-height: 3.6em !important; /* (Number of lines you want visible) * (line-height) */
    line-height: 1.2em !important;
    height: 3.6em !important;
    min-width: 3.6em !important;
}


.navbar-shadow{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px !important;
}
.animationset{
    transition: all ease-in .3s;
}
.hide{
    opacity: 0;
}
.show{
    opacity: 1 !important;
}
.textnormal{
    color: #000000d4 !important;
}

.skeleton{
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 70%);
    }
    100% {
        background-color: hsl(200, 20%, 95%);
    }
}



@media screen and (max-width: 768px)  {
nav li a {
    color: black !important;
}

}

.reviews .slick-track{
    display: flex !important;
}

.reviews .slick-slide
{
    height: inherit !important;
}
.reviews .slick-slide > div{
    display: flex !important;
    height: 100%;
}
.card-shadow{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
}
    .slick-dots li button:before {
        background-color: #c83838 !important;
        height: 0px !important;
        width: 20px !important;
        text-indent: -9999px !important;
        overflow:hidden !important; 
        border: 2px solid;
        border-radius: 5px;
        }


.nav-itm.active{
    border-bottom: 2px solid #03965e;
}
.nav-itm.active .nav-link{
    color: #03965e;
}



*{
    outline: none !important;
}


.hotel-img-card{
    position: relative;
    background-color: green;
    
}
.hotel-img-card:last-child{
    background-color: red;
}
.hotel-img-card:last-child::before{
    content: "more photos";
    width: 100%;
    height: 100%;
    position: absolute;
    color: white;
    font-weight: 800;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000068;
    cursor: pointer;
    z-index: 1000;
}

.shadow-shedule-card{
 border: 1px solid #1ff8a5;

}
.navbar-gradient{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(140,255,215,1) 0%, rgba(109,246,164,1) 0%, rgba(248,255,255,1) 100%) !important;
}

.gradient-first{
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(0,243,202,1) 0%, rgba(109,246,164,1) 0%, rgba(78,252,234,1) 100%);
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none !important;
}
.shadow-search{
    box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px !important;
}

.type-card{
    position: relative;
    background-position: bottom;
    background-size: cover;

}
.type-card-1{
    background-image: url('../src/Pages/Assets/inter.jpg');

}
.type-card-2{
    background-image: url('../src/Pages/Assets/hotels.jpg');

}
.type-card-3{
    background-image: url('../src/Pages/Assets/resorts.jpg');

}
.type-card-4{
    background-image: url('../src/Pages/Assets/homestays.jpg');

}
.type-card-5{
    background-image: url('../src/Pages/Assets/apartments.jpg');

}
.type-card::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    border-radius: 10px;
    background-color: #00000091;
}

/* 
*  {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
  } */

 /* .hotelsexplore .slick-track{
     margin-left: 0.25rem !important;
 } */
 


 .slick-m .slick-track
{
    display: flex !important;
}

.slick-m .slick-slide
{
    height: inherit !important;
    display: flex !important;
}
.slick-m .slick-slide>div{
    display: flex !important;
    width: 100%;
}
.slick-m .slick-slide>div>div{
    display: flex !important;
    flex-direction: column;
}
.slick-track .slick-track { display: none !important; }


.card-shadow-1{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px !important;
}
.slick-w-full .slick-track{
        width: 100% !important;
    }
