@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.main-shadow{
    box-shadow: 0px 0px 22px -1px rgba(0,0,0,0.16) !important;


}
.roboto{
    font-family: 'Roboto', sans-serif !important;
}
html{
    scroll-behavior: smooth;
}
.poppins{
    font-family: 'poppins';
}
body{
    font-family: 'Lato', sans-serif !important;
}
.font-anton{
    font-family: 'Anton', sans-serif;
}
.font-head{
    font-family: 'Lato', sans-serif !important;
}
.font-body{
    font-family: 'Lato', sans-serif !important;
}

    .title-font{
        font-family: 'Lato', sans-serif !important;    }
      


.preloader{
    display: flex;
    opacity: 1 !important;
    width: 100vw;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    gap: 30px;
    align-items: center;
}
.preloader img{
    width: 100px;
}
.crop-box-con{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;        padding: 1rem;
    position: absolute;
    background-color: white !important;

}
.loading-div{
    display: flex;
    width: 100%;
    height: 70vh;
    padding-top: 5rem;
    padding-bottom: 3rem;
    justify-content: center;
    align-items: center;
}
body {
    font-family: Roboto, Helvetica, Arial, sans-serif !important;
    background-color: white;
  }
nav{
    background-color: transparent !important;
}
.offerSlider .slick-list {
    padding: 0 20% 0;
}
@media only screen and (max-width: 1024px) {
    .offerSlider .slick-list {
        padding: 0 34% 0;
    }
  }
  
  @media only screen and (max-width: 640px) {
    .offerSlider .slick-list {
        padding: 0 20% 0;
    }
  }
input{outline: none;}

.bordercolour{
    border: 1px solid black;
}



.marginmtop{
    margin-top: -11rem;
}



  input{
      outline: none !important;
  }

.card-text{
    word-wrap: break-word !important;
    overflow: hidden !important;
    max-height: 4.5em !important; /* (Number of lines you want visible) * (line-height) */
    line-height: 1.5em !important;
    height: 4.5em !important;
    min-width: 3.6em !important;
    position: relative;
}
.card-text-hotel{
    word-wrap: break-word !important;
    overflow: hidden !important;
    max-height: 3em !important; /* (Number of lines you want visible) * (line-height) */
    line-height: 1.5em !important;
    height: 3em !important;
    min-width: 3.6em !important;
    position: relative;
}
.card-text::after, .card-text-hotel::after {
    content: "..."; /* Add the ellipsis */
    position: absolute; /* Position the ellipsis */
    bottom: 0; /* Place it at the bottom of the container */
    right: 0; /* Place it at the right of the container */
    padding-left: 5ch; /* Add some space between the text and the ellipsis */
    padding-right: 10px;
    color: rgb(163, 163, 163);
    background: linear-gradient(to right, transparent,white 70%, white); /* Create a fading effect for the ellipsis */
}
.card-text-heading{
    word-wrap: break-word !important;
    overflow: hidden !important;
    max-height: 2.4em !important; /* (Number of lines you want visible) * (line-height) */
    line-height: 1.2em !important;
    height: 2.4em !important;
    min-width: 2.4em !important;
}


.navbar-shadow{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;}
.animationset{
    transition: all ease-in .3s;
}
.hide{
    opacity: 0;
}
.show{
    opacity: 1 !important;
}
.textnormal{
    color: #000000b4 !important;
}

.skeleton{
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 70%);
    }
    100% {
        background-color: hsl(200, 20%, 95%);
    }
}



@media screen and (max-width: 768px)  {
nav li a {
    color: black !important;
}

}

.reviews .slick-track{
    display: flex !important;
}

.reviews .slick-slide
{
    height: inherit !important;
}
.reviews .slick-slide > div{
    display: flex !important;
    height: 100%;
}
.card-shadow{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
    .slick-dots li button:before {
        background-color: #c83838 !important;
        height: 0px !important;
        width: 20px !important;
        text-indent: -9999px !important;
        overflow:hidden !important; 
        border: 2px solid;
        border-radius: 5px;
        }


.nav-itm.active{
    border-bottom: 2px solid #03965e;
}
.nav-itm.active .nav-link{
    color: #03965e;
}



*{
    outline: none !important;
}


.hotel-img-card{
    position: relative;
    background-color: hwb(0 38% 62%);
    
}
.hotel-img-card:last-child{
    background-color: red;
}
.hotel-img-card:last-child::before{
    content: "more photos";
    width: 100%;
    height: 100%;
    position: absolute;
    color: white;
    font-weight: 800;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000068;
    cursor: pointer;
    z-index: 1000;
}

.shadow-schedule-card{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;}
.navbar-gradient{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(140,255,215,1) 0%, rgba(109,246,164,1) 0%, rgba(248,255,255,1) 100%) !important;
}

.gradient-first{
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(0,243,202,1) 0%, rgba(109,246,164,1) 0%, rgba(78,252,234,1) 100%);
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none !important;
}
.shadow-search{
    box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px !important;
}

.type-card{
    position: relative;
    background-position: bottom;
    background-size: cover;

}
.type-card-2{
    background-image: url('https://res.cloudinary.com/difxlqrlc/image/upload/q_auto/f_auto/w_300/v1684526783/site/inter_dbnnxm.jpg');

}
.type-card-1{
    background-image: url('https://res.cloudinary.com/difxlqrlc/image/upload/q_auto/f_auto/w_300/v1684526746/site/hotels_lbuhot.jpg');

}
.type-card-3{
    background-image: url('https://res.cloudinary.com/difxlqrlc/image/upload/q_auto/f_auto/w_300/v1684526723/site/resorts_jk1e00.jpg');

}
.type-card-4{
    background-image: url('https://res.cloudinary.com/difxlqrlc/image/upload/q_auto/f_auto/w_300/v1684526711/site/homestays_kqt4of.jpg');

}
.type-card-5{
    background-image: url('https://res.cloudinary.com/difxlqrlc/image/upload/q_auto/f_auto/w_300/v1684526697/site/apartments_mssde8.webp');

}
.type-card::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    border-radius: 10px;
    background-color: #00000091;
}



 .slick-m .slick-track
{
    display: flex !important;
}

.slick-m .slick-slide
{
    height: inherit !important;
    display: flex !important;
}
.slick-m .slick-slide>div{
    display: flex !important;
    width: 100%;
}
.slick-m .slick-slide>div>div{
    display: flex !important;
    flex-direction: column;
}
.slick-track .slick-track { display: none !important; }


.card-shadow-1{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px !important;
}
.slick-w-full .slick-track{
        width: 100% !important;
    }
    .glogin iframe{
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .bg-package{
        background-image: url('https://res.cloudinary.com/difxlqrlc/image/upload/q_auto/f_auto/w_2000/v1684519745/site/bgpackage_bntyyx.webp');
        background-position: bottom;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .bg-hotel{
        background-image: url('https://res.cloudinary.com/difxlqrlc/image/upload/q_auto/f_auto/w_2000/v1684519745/site/bgpackage_bntyyx.webp');
        background-position: bottom;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .buttongrad{
        background: rgb(26,163,122) !important;
        background: linear-gradient(140deg, rgba(26,163,122,1) 0%, rgba(157,255,179,1) 100%) !important;
    }

    .background-header{
        background-image: url('./Pages/Assets/bgbody.webp');
        background-size: cover;
        background-position: left;
        background-repeat: no-repeat;
        z-index: 199;

    }
    .background-header:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
        bottom: 0;
        background: linear-gradient(to top, transparent,  rgba(0, 0, 0, 0.719) );
      }
  

  

  .review-bg{
    background: linear-gradient(to right, #ECF1F0 0%, transparent 15%, transparent 85%, #ECF1F0 100%);

  }
  .slick-prev,
.slick-next {
  display: block !important;
}

.emi-footer{
    background-image: url('https://res.cloudinary.com/difxlqrlc/image/upload/f_auto/q_auto/w_1000/v1684528080/site/emiBody_ttypdg.png');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}
.interest{
    background-image: url('https://res.cloudinary.com/difxlqrlc/image/upload/q_auto/f_auto/v1684525710/site/intrstbg_evgt7w.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
@media screen and (max-width:764px) {
    .interest{
        background-position-x: right;
       
    }
}


input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px #eeeeee inset;
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px #eeeeee inset;
}

@media screen and (max-width:764px) {
    .loginbg{
        background-image: url('https://res.cloudinary.com/difxlqrlc/image/upload/q_auto/f_auto/w_1000/v1684527461/site/loginbg_u3grss.jpg');
        background-position: center;
        background-size: cover;
    }
}

.offerpacks .slick-list{padding:0 20% 0 0;}
.imagegradient{
    background-image: linear-gradient(to bottom, transparent, transparent, black) !important;

}

input.interestinp::placeholder, textarea::placeholder {
    color: #ececec !important; /* Change the color to your desired value */
  }

  @media screen and (max-width:764px) {
   
      input.interestinp::placeholder, textarea::placeholder {
    color: #ececec !important; /* Change the color to your desired value */
    font-size: 0.85rem;
  }
  }
  select option {
    background-color: #243847; /* Set the background color of the dropdown options */
    padding: 2px 4px !important;
    color:#ececec; /* Set the text color of the dropdown options */
  }


  .lazyload-wrapper{
      width: 100% !important;
  }

  .location-container {
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
  }
  
  .location-container::-webkit-scrollbar {
    width: 0.5rem;
  }
  
  .location-container::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  .location-container::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

 
  @media screen and (max-width:764px) {
    .interestm{
        background-image: url('https://res.cloudinary.com/difxlqrlc/image/upload/v1684531495/site/interestformbgm_dbpscp.jpg');
        background-size: cover;
        background-position: right;
        background-repeat: no-repeat;
    }
  }
.noautofill{
    background: transparent;
}


.card-background{
    background-image: url('./Pages/Assets/cardbg.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.btn-animation {
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 100;
}
.btn-animation:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 128, 0, 0);
    border-radius: 10px;
    z-index: 70;
}
.btn-animation:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #00c676;
    transition: all 0.3s;
    border-radius: 10px;
    z-index: 80;
}
.btn-animation:hover {
    color: #fff;
}
.btn-animation:hover:before {
    width: 100%;
}

.bid-bg{
    background-image: url('./Pages/Assets/bidbg.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left ;
}
.emi-bg{
    background-image: url('./Pages/Assets/emibg.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}



.shadow-1{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}



@media (max-width:640px) {
    .card-title-font-size{
        font-size: 13px !important;
        line-height: 1rem;
        
    }
}

.bg-login{ 
    background-image: url('./Pages/Assets/loginbg.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
@media screen and (min-width:1024px) {
    .home .navbar{
        padding-top: 3rem !important;
    } 
}

@media screen and (min-width:1536px) {
    .home .navbar .nav-login-box{
        padding-right: 3rem !important;
    } 
    .home .navbar .nav-logo{
        margin-left: 9rem !important;
    }
}


@media (min-width:640px){
    .trending-carousel .package-card{
        margin-right: 2rem !important;
        margin-bottom: 2rem !important;
    }
}

.hotelsexplore .menuicon{
    color: black !important;
}
.detailviews .menuicon{
    color: black !important;
}





@media  (min-width:768px){

    .text-small span{
        padding-left: 5px !important;
        padding-right: 5px !important;

        font-size: 12px !important;
        padding-top: 3px !important;
        padding-bottom: 3px !important;

    }
    .text-small svg{
        width: 20px;
    }
}
@media  (max-width:768px){

    .text-small span{
        padding-left: 15px !important;
        padding-right: 15px !important;

        font-size: 11px !important;
        padding-top: 3px !important;
        padding-bottom: 3px !important;

    }
    .text-small svg{
        width: 10px;
    }
}

.detailviews .navbar{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.detail-card-shadow{
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em !important;
}

.add-shadow{
    box-shadow: rgba(0, 0, 0, 0.548) 0px 5px 15px 0px;
    background-image: url('./Pages/Assets/gradientbg.webp');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        color: white !important;


}
.add-shadow h1, .add-shadow div span{
    color: white !important;

}
.add-shadow h1{
    margin-bottom: 5px;
    color: white !important;

}

    .gradientbg{
        background-image: url('./Pages/Assets/gradientbg.webp');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left top;
    }


    @media screen and (min-width:1280px) {
        .gradientbgreview{
            background-image: url('./Pages/Assets/gradientbg.webp');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: left top;
        }
    }
.bid-card{
    transition: all ease-in-out 0.3s;
}
    .bid-card:hover{
        background-color: #00A45E !important;
    }
.bid-card:hover .num{
        background-color: white !important;
        color: #00A45E !important;
    }  
    .bid-card:hover .text-bid{
        color: white !important;
    }  

    details summary::-webkit-details-marker,
details summary::marker {
    color: green;
}

.bgtrans{
    background: transparent !important;
}
@media screen and (min-width:1024px) {
    .emibg{
        background-image: url('./Pages/Assets/emibgpic.webp');
        background-position: bottom right;
        background-size: cover;
        background-repeat: no-repeat;
    }
}
.emibggrad{
    background-image: linear-gradient(to bottom, transparent,#23273a67, #23273aa8,#23273aab, #23273a);

}

.emibggrad2{
    background-image: linear-gradient(to bottom, #23273a, #3e6655);
}

.outn{
    box-shadow: none !important;
}
[type='text']:focus, [type='email']:focus, [type='url']:focus, [type='password']:focus, [type='number']:focus, [type='date']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='week']:focus, [multiple]:focus, textarea:focus, select:focus {
    outline: 0px !important;
    outline-offset: 0px !important;
    box-shadow: none !important;
}

.animate{
    transition: all ease-in-out 0.5s !important;
}


.initialPopup{
    opacity: 0;
}
.visiblePopup{
    opacity: 1;
}
.cloasedPopup{
    display: none !important;
}

@media screen and (min-width:1024px) {
    .w-emi {
        width: 15% !important;
    }
    
}
@media screen and (min-width:764px) and (max-width:1024px) {
    .w-emi {
        width: 30% !important;
    }
    
}

.bidcard-bg{
    background-image: url('./Pages/Assets/bidcard-bg.webp');
    background-size: cover;
}

.shadow-con{
   box-shadow:  rgba(100, 100, 111, 0.2) 4px 4px 18px 0px, rgba(100, 100, 111, 0.2) -4px 4px 18px 0px}