@tailwind base;
@tailwind components;
@tailwind utilities;

nav{
    background-color: transparent !important;
}
.offerSlider .slick-list {
    padding: 0 20% 0;
}
@media only screen and (max-width: 1024px) {
    .offerSlider .slick-list {
        padding: 0 34% 0;
    }
  }
  @media only screen and (max-width: 640px) {
    .offerSlider .slick-list {
        padding: 0 20% 0;
    }
  }
input{outline: none;}

.bordercolour{
    border: 1px solid black;
}
.pic1{
    background-image: url('./Pages/Assets/homeCarousel/pic1.jpg') !important;
    background-size: cover;
    background-repeat:no-repeat ;
    background-position: center;
}
.pic2{
    background-image: url('./Pages/Assets/homeCarousel/pic2.jpg') !important;
    background-size: cover;
    background-repeat:no-repeat ;
    background-position: center;
}

.pic3{
    background-image: url('./Pages/Assets/homeCarousel/pic3.jpg') !important;
    background-size: cover;
    background-repeat:no-repeat ;
    background-position: center;
}


.pic4{
    background-image: url('./Pages/Assets/homeCarousel/pic4.jpg') !important;
    background-size: cover;
    background-repeat:no-repeat ;
    background-position: center;
}

.pic5{
    background-image: url('./Pages/Assets/homeCarousel/pic5.jpg') !important;
    background-size: cover;
    background-repeat:no-repeat ;
    background-position: center;
}
.marginmtop{
    margin-top: -11rem;
}


 /* *  {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
  } */
  input{
      outline: none !important;
  }

.card-text{
    word-wrap: break-word !important;
    overflow: hidden !important;
    max-height: 3.6em !important; /* (Number of lines you want visible) * (line-height) */
    line-height: 1.2em !important;
    height: 3.6em !important;
    min-width: 3.6em !important;
}


.navbar-shadow{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px !important;
}
.bg-trans{
    background-color: rgba(0, 0, 0, 0) !important;
}