@tailwind base;
@tailwind components;
@tailwind utilities;


button{
    cursor: pointer;
}
body{
    background-color: #FAF9F6 !important;
}

body{
    font-size: 16px !important;
    background-color: #FAF9F6 !important;
    color: rgb(0, 0, 0, 0.7);
}
h1{
    font-size: 35px !important;
    color: rgb(0, 0, 0);

}
h2{
    font-size: 30px;
    color: rgb(0, 0, 0, 0.83);

}
h3{
    font-size: 20px;
}
.loading-div{
    display: flex;
    width: 100%;
    padding-top: 5rem;
    justify-content: center;
}
@media screen and (max-width:812px) {
    body{
        font-size: 15px !important;
    }
    h1{
        font-size: 23px !important;
    }
    h2{
        font-size: 21px;
    }
    h3{
        font-size: 19px;
    }
}

/* * {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
  } */

  .show{
    opacity: 1 !important;
}

.card-text{
    word-wrap: break-word !important;
    overflow: hidden !important;
    max-height: 4.5em !important; /* (Number of lines you want visible) * (line-height) */
    line-height: 1.5em !important;
    height: 4.5em !important;
    min-width: 3.6em !important;
    position: relative;
}
.card-text::after {
    content: "..."; /* Add the ellipsis */
    position: absolute; /* Position the ellipsis */
    bottom: 0; /* Place it at the bottom of the container */
    right: 0; /* Place it at the right of the container */
    padding-left: 5ch; /* Add some space between the text and the ellipsis */
    padding-right: 10px;
    color: rgb(163, 163, 163);
    background: linear-gradient(to right, transparent,white 70%, white); /* Create a fading effect for the ellipsis */
}