.sidenav{
    width: 200px;
    height:100vh;
    position:fixed;
    opacity: 0;
    z-index: 999;
    left: 0;
    background-color: white;
    top: 0;
    padding-top: 100px;
    transition: all ease-in-out .3s;
    
    ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        justify-content: center;
        width: 200px;
        a{
            text-decoration: none;
            color: black;
            li{
                display: flex;
                width: 160px;
                align-items: center;
                color: rgb(69, 69, 69);
                gap: 10px;
                justify-content: flex-start;
                &:hover{
                    .sidenav-icn{
                        color: #69d4a4;
                    }
                    span{
                        color: black;

                        
                    }
                }
            }
            
        }
    }
}

@media screen and (max-width:1024px) {
    .sidenav{
        width: 0px;
        overflow: hidden;
        
    }
    
    
}
.sidenav.open{
    width: 200px !important;
}


.show{
    opacity: 1 !important;
}