.widget{
    box-shadow: 1px 10px 17px -3px rgba(0,0,0,0.63);
    color: rgb(50, 50, 50);
    width: 20%;
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    gap: .1rem;
    padding:1rem;
    border-radius: 10px;
    border-bottom:8px solid #00ff9f;
    .widget-header{
        display: flex;
        align-items:center ;
        justify-content: space-between;
        
        
        
    }
    .widget-body{
        display: flex;
        align-items: center;
        justify-content: space-between;
        h1{
            font-size: 350%;
        }
        .widget-header-icn{
            color:#00ff9f;
            font-size: 500%;
            border-radius: 5px;
            padding: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 1rem;
        }
    }
    .widget-footer{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
       
        a{
            color: black;
            border-radius: 10px;
            font-size: 110%;
        }
       
       
        

    }
}

@media screen and (max-width:1024px) {
    .widget{
        width: 31% !important;
    }
    
}
@media screen and (max-width:764px) {
    .widget{
        width: 40% !important;
        padding: 1rem;
        font-size:80%;
        margin-bottom: 1rem;
    }
    
}
@media screen and (max-width:540px) {
    .widget{
        width: 37% !important;
        
    }
    
}