.home-body{
    margin-top: 50px;
    padding-top: 4rem;
    margin-left:200px;
    opacity: 0;
        transition: all ease-in 1s;
    
    .home-body-widgets{
        width: 90%;
        margin: 2rem auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .home-bid{
        width: 90%;
        margin: 2rem auto;
        height: 800px;
    }

}

@media screen and (max-width:1024px) {
    .home-body{
        margin-left: 0px;
       
         .home-body-widgets{
        
        justify-content: center;
        gap: 30px;
    }
    }
    
}
@media screen and (max-width:764px) {
    .home-body{
        
         .home-body-widgets{
        
        justify-content: space-between;
        gap: 30px;
    }
    }
    
}
@media screen and (max-width:540px) {
    .home-body{
        
         .home-body-widgets{
        
        gap: 15px;
    }
    }
    
}

