.singlepackage-container{
    margin-top: 50px;
    margin-left:200px;
    background-color:#f7f7f7;

    .xyz{
        padding-top: 10rem;
        padding-bottom: 300rem;
    }
    
    .singlepackage-body{
        padding: 2rem 0;
        display: flex;

       
        .singlepack-left{
            width: 40%;
            padding:0;
            
            .slick-slide {
                outline: none
            }
            
            .img{
                width: 100%;
               
                img{
                    width: 90%;
                   
                }

            }
           
          
                      
        }
       
        .singlepack-right{
            width: 60%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 0 2rem ;

          
            p{
                color: rgba(0,0,0,0.8);
            }

           
            .single-pack-right-flex{
                display: flex;
            }
           
            .singlepackage-btngrp{
                display: flex;
                align-items: center;
                gap: 1rem;

               
                .singlepackage-btn{
                    border: none;
                    border-radius: 10px;
                    outline: none;
                    padding: 1rem 1.5rem;
                    color: black;
                    background-color: #00ff9f;
                    &:hover{
                        color: white;
                        background-color: black;
                    }
                   
                }
               
            }

            
        }
        
       
    }
    .single-package-body-2{
        padding: 3rem;
        background-color: white;
        border-radius: 10px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

        
        .single-package-body-2-left{
            width: 100%;
           .schedule-day{
            width: 100%;
            display: flex;
            margin: 2rem auto;
            .schedule-day-left{
                width: 10%;
            }

            
            .schedule-day-right{
                width: 80%;
                padding-left: 1rem;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                border-left: 2px solid rgb(153, 153, 153);
                p{
                    color: rgba(0, 0, 0, 0.8);
                }
            }
            
           }
        }
    }


    
}
@media screen and (max-width:1024px) {
    .singlepackage-container{
        margin-left: 0px;
    }
    
}