

.newpackage-body{
    margin-top: 50px;
    padding: 5rem;
    margin-left:200px;
    .crop-box-con{
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;        padding: 1rem;
        position: absolute;
        background-color: white !important;

    }
    .new-package-box{
        display: flex;
        padding-top:4rem ;
        .newpackageform-container{
            width: 60%;
            
            form{
                .form-item-file{
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    padding: 1rem 0 2rem;
                    label{
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        .upload-icn{
                            font-size: 190%;
                            
                        }
                    }
                    input{
                        display: none;
                    }
                }
                .form-item{
                    display: flex;
                    align-items: center;
                    padding: .5rem 0 1rem;
                    justify-content: space-between;
                    padding-right: 2rem;
                    input, textarea{
                        width: 50%;
                       
                        outline: none;
                        padding: .6rem 1.5rem;
                        
                        border: none;
                        border-radius: 10px;  
                        background-color: rgb(229, 229, 229);  
                        color: rgb(61, 61, 61);            }
                }
                .shedule-input-con{
                    button{
                        padding: 5px 10px;
                        background-color: #00ff9f;
                        border-radius: 10px;
                        border: none;
                    }
                }
                .room-btn-box{
                    display: flex;
                    justify-content: flex-end;
                    padding-right: 2rem;
                }
                .package-form-submit{
                    display: flex;
                    justify-content: flex-end;
                    padding: 1rem 0;
    
                    button{
                        border: none;
                        outline: none;
                        padding: 0.5rem 1rem;
                        font-size: 120%;
                        border-radius: 10px;
                        background-color: #00ff9f;
                        color: black;
                        margin-right: 30%;
                        &:hover{
                            background-color: black;
                            color: white;
                            cursor: pointer;
                        }
                    }
                }
            }
            
        }
        .form-test{
            width: 50%;
            background-color: white ;
            padding: 2rem;
            border-radius: 10px;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            .img-container{
                display: flex;
                justify-content: flex-start;
                gap: 5%;
                flex-wrap: wrap;
                img{
                    width: 30%;
                }
            }
            .package-details{
                padding: 2rem 0;
                display: flex;
                flex-direction: column;
                gap: 10px;
                .package-details-flex{
                    display: flex;
                    padding: 1rem 0;
                    justify-content: flex-start;
                    gap: 3rem;
                    h4{
                        padding: 5px 20px;
                        background-color: #00ff9f;
                        border-radius: 50px;
                    }
                }
                .package-details-flex-2{
                    display: flex;
                    padding: 1rem 0;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 5px;
                    
                }
            }
            .package-shedule{
                h3{
                    margin-bottom: 5px;
                }
                .shedule-con{
                    .shedule-card{
                        display: flex;
                        flex-direction: column;
                        gap: 8px;
                    }
                }
            }
          
            
        }
    }

}


@media screen and (max-width:1024px) {
    .newpackage-body{
        margin-left: 0px;
        .new-package-box{
            flex-direction: column;
            .newpackageform-container{
                width: 100%;
            }
            .form-test{
                width: auto;
            }
        }
    }
    
}

@media screen and (max-width:768px) {
    .newpackage-body{
        padding: 5rem 2rem;
        .new-package-box{
            .newpackageform-container{
                form{
                    .form-item{
                        flex-direction: column;
                        align-items: flex-start;
                        input, textarea{
                            width: 100%;
                        }
                    }
                    .room-btn-box{
                        padding-right: 0;
                    }
                }
            }
            .form-test{
                width: auto;
            }
        }
    }
    
}