.navbar{
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    z-index: 1000;
    padding: 1rem 1rem;
    background-color: white ;
    box-shadow: 0px 0px 15px -1px rgba(120,120,120,1);
    .navbar-brand{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        gap: 20px;
        a{
            display: flex;
            align-items: flex-end;
        }
        h3{
            margin-left:3rem;
            color: #8e8e8e;
        }
        .navbar-brand-icon{
margin-bottom: 3px;   display: none;     }
       
    }
    
    .nav-profile{
        .nav-profile-icon{
            width: 50px;
            height: 50px;
        }
    }
}

.nav-prof{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    .nav-profile{
        .nav-profile-icon{
            border-radius: 50%;
            height: 35px;
            width: 35px;
        }
       
    }
    button{
        padding: .5rem 1rem !important;
        border: none;
        border-radius: 5px;
        background-color: #00ff9f;
        
    }
}

@media screen and (max-width:1024px) {
    .navbar-brand{
        .navbar-brand-icon{
            display: block !important;
        }
        h3{
            display: none;
        }
        .nav-logo{
            width: 70%;
        }
        
    }
}