.MuiDataGrid-root .MuiDataGrid-columnHeader:focus,
    .MuiDataGrid-root .MuiDataGrid-cell:focus, .MuiDataGrid-cell:focus-within {
    outline: none !important;
    }
    .statusCell{
        background-color: #bcffe4;
        padding: 3px 15px;
        color: black;
        border-radius: 10px;
    }
    .cell-action{
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none;
        .cellAction-btn{
            background-color: #00ff9f;
            padding: 5px 15px;
            border-radius: 8px;
            text-decoration: none;
            color: black;
        }
    }

    .data-grid{
        background-color: white !important;
    }