.packages-body{
    margin-top: 50px;
    padding: 5rem;
    margin-left:200px;
    background-color: white;
    opacity: 0;
        transition: all ease-in 1s;
    .packages-body-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 4rem ;
        p{
            display: none;
        }
        a{
            text-decoration: none;
            background-color: #00ff9f;
            padding: 1rem;
            color: black;
            border-radius: 10px;
            &:hover{
                background-color: black;
                color: white;
            }
        }
    }
    .package-search{
        padding: 2rem 0;
        margin-bottom: 1rem;
        .search-box{
            display: flex;
            width: 40%;
            justify-content: flex-start;
            align-items: center;
            border: 1px solid rgb(109, 108, 108);
            border-radius: 1000px;
            overflow: hidden;
            input{
                flex: 2;
                font-size: large;
                padding: 10px 30px;
                outline: none;
                border: none;
            }
            .search-icon{
                margin-right: 20px;
                cursor: pointer;
                outline: none;
            }
            
        }
    }
    .package-container{
        display: flex;
        flex-wrap: wrap;
        gap: 4.9%;
    }

}

@media screen and (max-width:1224px) {
    .packages-body{
        .package-search{
            .search-box{
                width: 60%;
            }
        }
    }
    
}
@media screen and (max-width:1024px) {
    .packages-body{
        margin-left: 0px;
    }
    
}
@media screen and (max-width:864px) {
    .packages-body{
        .package-search{
            .search-box{
                width: 100%;
            }
        }
        .packages-body-header{
            padding-top: 3rem;
          flex-direction: column;
            padding-bottom: 1rem ;
            gap: 10px;
            p{
                display: block;
            }
            h2{
                margin-bottom: 10px;
            }
           text-align: center;
        }
    }
    
}
@media screen and (max-width:612px) {
    .packages-body{
        padding: 2rem 3rem;
    }
    
}