.packages-body{
    margin-top: 50px;
    margin-left:200px;
    background-color: white;
    opacity: 0;
        transition: all ease-in 1s;
    .packages-body-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 4rem ;
        p{
            display: none;
        }
        
    }
    

}


@media screen and (max-width:1024px) {
    .packages-body{
        margin-left: 0px;
    }
    
}
@media screen and (max-width:864px) {
    .packages-body{
        
        .packages-body-header{
            padding-top: 3rem;
          flex-direction: column;
            padding-bottom: 1rem ;
            gap: 10px;
            p{
                display: block;
            }
            h2{
                margin-bottom: 10px;
            }
           text-align: center;
        }
    }
    
}
@media screen and (max-width:612px) {
    .packages-body{
        padding: 2rem 3rem;
    }
    
}