.userlist-body{
    margin-top: 50px;
    margin-left:200px;
    padding: 5rem;
    height: 1px;
    h1{
        margin-bottom: 3rem;
    }

}


@media screen and (max-width:1024px) {
    .userlist-body{
        margin-left: 0px;
    }
    
}