@tailwind base;
@tailwind components;
@tailwind utilities;



@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
.inter{
  font-family: "Inter", sans-serif;
}
.caveat{
  font-family: "Caveat", cursive;
  font-weight: 700;
}

*{
  font-family: "Inter", sans-serif;
}
.lato{
  font-family: "Lato", sans-serif;
}



.greenbggrad{
  background-image: url('../../public/images/greenbg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
}




.header-bg::before{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.683);
}


.skeleton{
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
      background-color: hsl(200, 20%, 70%);
  }
  100% {
      background-color: hsl(200, 20%, 95%);
  }
}

.gradient{
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.76) 100%);
}
.gradient-3{
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.37) 100%);
}
.gradient-2{
  background: linear-gradient(180deg, rgba(253, 253, 253, 0.00) 0%, rgba(3, 3, 3, 0.60) 100%);
}


.shadow-custom{
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.shadow-custom2{
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.bodycon{
  overflow: hidden;
  max-height:calc(100% - 0px) !important;
}


.shadow-custom3{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;}


  .shadow-custom-4{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  /* .bg-header-mobile{
    background-image: url('../../public/images/layer.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

  } */