.bids-container-body{
    margin-top: 50px;
    margin-left:200px;
    background-color: white;
    
    .data-grid{
        height: 650px;
       
    }
    
}
@media screen and (max-width:1024px) {
    .bids-container-body{
        margin-left: 0px;
        padding: 2rem;
    }
    
}