nav li{
    display: flex !important;
    align-items: center !important;
}
nav li a{
    font-weight: 400 !important;
}
.bg-trans{
    background-color: rgba(0, 0, 0, 0) !important;
}
.bar-shadow{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
@media screen and (max-width: 767px)  {
    nav ul{
        width: 100%;
        padding: 2rem 0;
        background-color: #fffffff0;
        border-radius: 5px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
    nav .nav-login-box{
        margin-left: 0.75rem !important;
    }
    nav .nav-login{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    nav li{
        padding-left: 2.5rem;
        padding: 1px 1.5rem;
        width: 100%;
    }
    nav li a{
        width: 100%;
        color: rgb(0, 0, 0, 0.83) !important;
    }
    nav li:hover{
        background-color: #dad9d9;
    
        font-weight: 800;
    }
    
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
}

.nav-toggle-icon svg{
    fill: rgb(42, 42, 42) !important;
}